body{
    font-family: 'Arial'
    sans-serif;
    line-height: 1.6;
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    color: #333;
}

h1 {
    background-color: #f9f5f0;
    color: #884513;
    text-align: center;
    margin-bottom: 30px;
}

.recipe-image {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 20px;

}
.recipe-info{
    display: flex;
    justify-content: space-between;
    background-color: #f9f5f0;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.recipe-info div {
    text-align: center;
}

.recipe-info span {
    font-weight: bold;
    display: block;
}

.ingredients, .instructions {
    margin-bottom: 30px;
}

h2 {
    color: #884513;
    border-bottom: 2px solid
    #e0d3c3;
    padding-bottom: 5px;
}

ul, ol {
padding-left: 25px;
}

li {
margin-bottom: 8px;
}

.notes {
    padding: 15px;
    border-radius: 8px;
    font-style: italic;
}